parameters:
  timeoutInMinutes: 5
steps:
  - task: Kubernetes@1
    displayName: Configure cluster
    timeoutInMinutes: ${{ parameters.timeoutInMinutes }}
    condition: and(succeeded(), not(eq(variables._crux_configure_cluster, false)))
    inputs:
      command: login
      connectionType: Kubernetes Service Connection
      kubernetesServiceEndpoint: $(_crux_kubernetes_service_connection)